.box{

background-color: rgb(207, 209, 209);
/* width: 80%; */
/* margin: auto; */
width: 220px;


}
.section{
    margin-top: 4rem;

   
    background-color: aqua;
    /* margin: auto; */
}
.cart{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(19rem, 1fr));
    gap: 1.5rem;
    background-color: brown;
    width: 90%;
    display: flex;


}
.hero {

 position: absolute;

}
@media screen and (max-width:330px) {
    .cart{
     background-color: black;
     
     width: 100%;
     
     
    
    }
    .box{

     
        margin-left: 50px;
        text-align: center;
        
        }
}