.contanerr{
    width: 100%;
    z-index: 99;
    background-color: #212121;
    color: white;
    border-bottom: 1px solid #000;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}
.left .li{
    color: aliceblue;
    list-style: none;
    text-decoration: none;
    margin-left: 20px;
}
.center{
  font-family: 'Lobster', cursive;
  font-size: 30px;
}
.right-nav{
    display: flex;
    align-items: center;
}
.right-nav .icon{
    font-weight: 600;
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;z-index: 2;
    margin-left: 10px;
}
.right-nav .cart-nav {
    position: relative;

}
/* .right-nav .cart-nav .qut{
    background-color: rgb(194, 15, 239);
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 13px;
    top: -3px;
    right: -2px;
    cursor: pointer;
    z-index: 1;
} */
.stiky-header{
    position: sticky;
    top: 0px;
    animation: stikyHeader .3s ease-in-out;
}
.infonav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #e81313;
  
}
@keyframes stikyHeader{
    0%{transform: translateY(-80px);}
    100%{transform: translateY(0);}
}
@media screen and (max-width:500px) {

    .left{
        display: none;
    }
}